<h6 class="d-block mx-auto text-center">Détails de votre commande</h6>

<div class="card-product-2 d-flex mx-auto w-50 top-50 image-pending">
  <%= cl_image_tag @castle.photos.first.key %>
  <div class="card-product-2-infos px-3">
    <h1 class="d-block mx-auto"><%= @castle.name.capitalize %></h1>
    <% if @booking.status == 'pending' %>
      <div class="pending-status"><p>EN ATTENTE</p></div>
    <% else %>
      <div class="accepted-status"><p>PAYÉE</p></div>
    <% end %>
    <br>
    <p> Prix par jour : <%= @castle.price_per_day %> €</p>
    <p> Début de la location : <%= @booking.start_date.strftime('%d/%m/%Y') %></p>
    <p> Fin de la location : <%= @booking.end_date.strftime('%d/%m/%Y') %></p>
    <br>
    <h5> Prix total : <%= @booking.total_price %> €</h5>
    <br>
    <% if @booking.number_of_guest > @castle.number_of_bed %>
      <p><%= "Attention ! Vous avez indiqué #{@booking.number_of_guest} invités mais le lieu ne propose que #{@castle.number_of_bed} places." %></p>
      <p><%= "Contactez le propriétaire pour plus d'informations." %></p>
    <% end %>
  </div>
</div>

<!-- possible actions -->


<div class="d-flex justify-content-center">
  <div style="display: inline-block">

    <% if @booking.status == "pending" %>
      <div class="shopping-btn" id="pay">
        <a class="create-shopping" href="/castles/<%= @booking.castle.id %>/bookings/<%= @booking.id %>/payments/new">Payer maintenant</a>
        <span></span>
      </div>
    <% end %>

    <div class="shopping-btn">
      <a class="create-shopping" href="/castles">Continuer vos achats</a>
      <span></span>
    </div>

    <div class="shopping-btn">
      <a class="create-shopping" href="/dashboard">Voir mes réservations</a>
      <span></span>
    </div>

  </div>
</div>
<% if @booking.status == "pending" %>
  <%= link_to booking_path, data: {turbo_method: "delete"} do %>
    <p class="text-center cancel-booking">Annuler cette réservation</p>
  <% end %></p>
<% else %>
  <%= link_to booking_path, data: {turbo_method: "delete"} do %>
    <p class="text-center cancel-booking">Retirer cette réservation de la liste</p>
  <% end %></p>
<% end %>
<br>
<br>
<br>
<br>
