<br>
<% user = User.where(id: params[:id])[0].first_name %>
<% vowel = ['a','e','i','o','u','y','A','E','I','O','U','Y'] %>
<% if vowel.include?(user[0])  %>
  <h1>Toutes les annonces d'<%= user %></h1>
<% else %>
  <h1>Toutes les annonces de <%= user %></h1>
<% end %>

<div class="row">
  <% @castles.each do |castle| %>
    <div class="col-4">
      <a href="<%= castle_path(castle.id)%>">

        <div class="card-product">
          <%= cl_image_tag castle.photos.first.key, height: 300, width: 400, crop: :fill %>

          <div class="card-product-infos">
            <div class="card-product-infos-left mt-1">
              <h2><%= castle.name %></h2>
              <p><%= castle.department %></p>
              <h2><%= castle.price_per_day %>€ / jour</h2>
            </div>
          </div>

        </div>

      </a>
    </div>
  <% end %>
</div>
