<br>
<% user = User.where(id: params[:id])[0].first_name %>
<% vowel = ['a','e','i','o','u','y','A','E','I','O','U','Y'] %>
<% if vowel.include?(user[0])  %>
  <h1>Toutes les annonces d'<%= user %></h1>
<% else %>
  <h1>Toutes les annonces de <%= user %></h1>
<% end %>

<div class="row">
  <% @castles.each do |castle| %>
    <div class="col-4">
      <a href="<%= castle_path(castle.id)%>">

        <div class="card-product">
          <%= cl_image_tag castle.photos.first.key, height: 300, width: 400, crop: :fill %>

          <div class="card-product-infos">
              <% if castle.reviews.empty? %>
                <div class="rate">
                  <h2><%= castle.name %></h2>
                  <p>pas de note</p>
                </div>
              <% else %>
                <div class="rate">
                  <% reviews = castle.reviews.map do |r| p r.rating end %>
                  <h2 class="title-rate-card"><%= castle.name %></h2>
                  <p><%= reviews.sum / reviews.length %> /5 </p>
                </div>
              <% end %>
              <p><%= castle.department %></p>
              <p><%= castle.price_per_day %>€ / jour</p>
            </div>

        </div>

      </a>
    </div>
  <% end %>
</div>
