<!DOCTYPE html>
<html>
  <head>
    <title>CASTRVM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= favicon_link_tag asset_path('castrvm-arm.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if action_name != "home" && action_name != "full_screen" %>
      <%= render "shared/navbar" %>
    <% end %>
    <% if action_name == "home" %>
      <%= render "shared/home-banner" %>
    <% end %>
    <% if action_name == "full_screen" %>
      <%= render "shared/fullscreen" %>
    <% end %>
    <% if action_name != "home" && action_name != "full_screen" && !(controller_name == "castles" && action_name == "show") %>
      <div class="container">
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
      <% else %>
        <%= render "shared/flashes" %>
        <%= yield %>
    <% end %>
    <% if action_name != "home" && action_name != "full_screen" %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
