<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>CASTRVM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.js'></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script>
      <!-- Hotjar Tracking Code for castrvm -->
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:4951334,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>

  <body>
    <% if action_name != "home" && action_name != "full_screen" && !(action_name == "index" && controller_name == "castles") %>
      <%= render "shared/navbar" %>
    <% end %>

    <% if action_name == "index" && controller_name == "castles" %>
      <%= render "shared/navbar_castles" %>
    <% end %>

    <% if action_name == "home" %>
      <%= render "shared/home-banner" %>
    <% end %>

    <% if action_name == "full_screen" %>
      <%= render "shared/fullscreen" %>
    <% end %>

    <% if action_name != "home" && action_name != "full_screen" && !(controller_name == "castles" && action_name == "show") && action_name != "intro" %>
      <div class="container">
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
      <% else %>
        <%= render "shared/flashes" %>
        <%= yield %>
    <% end %>

    <% if action_name != "home" && action_name != "full_screen" %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
